<div class="py-24 sm:py-32">
  <div class="mx-auto max-w-7xl sm:mx-6 lg:px-8">
    <div class="mx-auto max-w-2xl lg:mx-0">
      <h2 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">Our Mission</h2>
      <p class="mt-2 text-lg leading-8 text-gray-600">
        OUR MISSION IS TO ILLUMINATE YOUR LIFE WITH EXCELLENCE AND ENSURE COMPLETE AND UNDENIABLE SAFETY.
        WE ARE DEDICATED TO PROVIDING UNPARALLELED ELECTRICAL SOLUTIONS THAT PRIORITIZE SAFETY, EFFICIENCY, AND INNOVATION.
        COMMITTED TO INTEGRITY AND TRANSPARENCY, WE STRIVE TO BUILD LASTING RELATIONSHIPS WITH OUR CLIENTS.
        BY COMBINING TECHNICAL EXPERTISE WITH A CLIENT-CENTRIC APPROACH, WE AIM TO EXCEED EXPECTATIONS AND ENSURE THE SEAMLESS INTEGRATION OF CUTTING-EDGE ELECTRICAL SYSTEMS INTO YOUR HOME.
        BRIGHT GUY ELECTRIC IS NOT JUST ABOUT FIXING WIRES; IT'S ABOUT EMPOWERING YOUR SPACE WITH RELIABILITY, COMFORT, AND A BRIGHT FUTURE.
      </p>
    </div>
  </div>
</div>

<div class="pb-24 sm:pb-32">
  <div class="mx-auto max-w-7xl sm:mx-6 lg:px-8">
    <div class="mx-auto max-w-2xl lg:mx-0">
      <h2 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">Core Values</h2>
      <p class="mt-2 text-lg leading-8 text-gray-600">
        OUR CORE VALUES REVOLVE AROUND YOUR HOME'S SAFETY, COMFORT, AND SATISFACTION.
        WE PRIORITIZE TRANSPARENT COMMUNICATION, ENSURING YOU'RE INFORMED AT EVERY STEP OF THE PROCESS.
        OUR SKILLED AND RELIABLE TEAM IS COMMITTED TO DELIVERING TOP-NOTCH ELECTRICAL SOLUTIONS THAT NOT ONLY MEET INDUSTRY STANDARDS BUT ALSO EXCEED YOUR EXPECTATIONS.
        WE UNDERSTAND THE IMPORTANCE OF YOUR HOME, AND OUR DEDICATION TO QUALITY WORKMANSHIP, INTEGRITY, AND A CUSTOMER-FIRST APPROACH SETS US APART.
        TRUST US TO BRING EXPERTISE AND A PERSONAL TOUCH TO EVERY PROJECT, MAKING YOUR HOME A SAFER AND MORE EFFICIENT PLACE FOR YOU AND YOUR FAMILY.
      </p>
    </div>
  </div>
</div>

<div class="card w-100 mb-10 sm:mx-10 bg-base-100 shadow-xl">
  <figure><img src="assets/company-1.jpg" alt="Company header" /></figure>
</div>
