<div class="mx-auto max-w-2xl py-20 lg:py-28">
  <div class="text-center">
    <h1 class="text-4xl font-bold tracking-tight text-gray-900 sm:text-6xl">NEW LIGHTING</h1>
    <p class="mt-6 text-lg leading-8 text-gray-600">
      Elevate your surroundings and create an ambiance that resonates with sophistication.
    </p>
  </div>
</div>

<div class="mx-auto max-w-4xl">
  <div class="card w-100 mb-10 sm:mx-10 bg-base-100 shadow-xl">
    <figure><img src="assets/light-3.jpg" alt="New Lighting" /></figure>
  </div>

  <div class="card w-100 mb-10 sm:mx-10 bg-base-100 shadow-xl">
    <figure><img src="assets/light-2.jpg" alt="New Lighting" /></figure>
  </div>

  <div class="card w-100 mb-10 sm:mx-10 bg-base-100 shadow-xl">
    <figure><img src="assets/light-1.jpg" alt="New Lighting" /></figure>
  </div>
</div>
