<div class="mx-auto max-w-2xl py-20 lg:py-28">
  <div class="text-center">
    <h1 class="text-4xl font-bold tracking-tight text-gray-900 sm:text-6xl">REMODELING</h1>
    <p class="mt-6 text-lg leading-8 text-gray-600">
      Precision in every detail, care in every corner.
      Our remodels redefine excellence with meticulous attention and a commitment to leaving your home flawless.
      Elevate your space without the worry - Where transformation meets perfection.
    </p>
  </div>
</div>

<div class="mx-auto max-w-4xl">
  <div class="card w-100 mb-10 sm:mx-10 bg-base-100 shadow-xl">
    <figure><img src="assets/remodel-1.jpg" alt="Remodeling" /></figure>
  </div>

  <div class="card w-100 mb-10 sm:mx-10 bg-base-100 shadow-xl">
    <figure><img src="assets/remodel-2.jpg" alt="Remodeling" /></figure>
  </div>

  <div class="card w-100 mb-10 sm:mx-10 bg-base-100 shadow-xl">
    <figure><img src="assets/remodel-3.jpg" alt="Remodeling" /></figure>
  </div>

  <div class="card w-100 mb-10 sm:mx-10 bg-base-100 shadow-xl">
    <figure><img src="assets/remodel-4.jpg" alt="Remodeling" /></figure>
  </div>

  <div class="card w-100 mb-10 sm:mx-10 bg-base-100 shadow-xl">
    <figure><img src="assets/remodel-5.jpg" alt="Remodeling" /></figure>
  </div>
</div>
